@model dynamic

@{
    ViewBag.Title = "TC build monitor";
}

<script>
   
</script>

<div class="info message" data-bind="visible:notification">
    <span class="glyphicon glyphicon-info-sign" style="float:left;"></span> <p class="text-center" data-bind="text:notification"></p>
</div>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
       
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p data-bind="text: teamCityUrl" class="navbar-brand">url<p>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input data-bind="value: teamCityUrl" type="text" class="form-control" id="url" placeholder="TeamCity root url">
                </div>
                <div class="form-group">
                    <input data-bind="value: teamCityUserName"  type="text" class="form-control" id="userName" placeholder="user (optional)">
                </div>
                <div class="form-group">
                    <input data-bind="value: teamCityPassword" type="password" class="form-control" id="password" placeholder="password (optional)">
                </div>
                <button type="submit" class="btn btn-success" id="submit">
                    Save
                </button>
            </form>
            
        </div>
        
    </div>
</div>

<div class="container" style="width:100%;">
    <div class="row" style="margin-top:25px;">
        <div class="col-lg-12">
            <div class="page-header">
                <small class="pull-left" data-bind="text:lastUpdated"></small>
                <small class="pull-left" data-bind="visible:numberOfRunningBuilds,text:', Total builds running:' + numberOfRunningBuilds()"></small>
                <p class="text-right">@Html.ActionLink("customise", "Preferences", "Home")</p>
            </div>
        </div>
    </div>
    
    <div data-bind="foreach: allRunningBuilds" >
        <div class="row">
            <div class="col-lg-3">
                <div class="alert" data-bind="css: {'alert-danger' : Status === 'RUNNING ERRORS', 'alert-info' : Status === 'RUNNING'}">
                    <span class="glyphicon" data-bind="css: {'glyphicon-info-sign': Status === 'RUNNING', 'glyphicon-remove': Status === 'FAILURE' ||  Status === 'ERROR' ||  Status === 'RUNNING ERRORS' }"></span>
                    <small data-bind=" text: PercentageComplete + '%' + ' ' + Status + ':' + Id + ': ' + BuildTypeId + ': ' + Number">
                    </small>
                    <small data-bind="text: StatusText"></small>
                    <div class="progress progress-striped active" style="height: 7px;">
                        <div style="height: 10px;" class="progress-bar" role="progressbar" data-bind="css: {'progress-bar-warning': Status === 'RUNNING ERRORS'},attr: { 'aria-valuenow': RunningInfo.PercentageComplete, 'style': 'width:' + RunningInfo.PercentageComplete + '%' }" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div data-bind="foreach: projects" class="row">
            <div class="col-lg-12">
                <div class="alert alert-info">
                    <button data-bind="click: $root.hideProject" type="button" class="close">&times;</button>

                    <div class="projectHeading" data-bind="text:Name"></div>

                    <div data-bind="foreach: BuildTypeRows" class="col-lg-12 ">
                        <div class="row">

                            <div data-bind="foreach: BuildTypes">
                                <div class="col-lg-3">
                                    <div class="alert buildTypeBox" data-bind="css: {
                                'alert-warning' : LastBuild.Status === 'UNKNOWN' || LastBuild.Status === 'RUNNING',
                                'alert-success' : LastBuild.Status === 'SUCCESS',
                                'alert-danger' : LastBuild.Status === 'FAILURE' ||  LastBuild.Status === 'ERROR' ||  LastBuild.Status === 'RUNNING ERRORS'} ">
                                        <button data-bind="click: $root.hideBuildType" type="button" class="close">&times;</button>
                                        <p class="buildHeading">
                                            <span class="glyphicon" data-bind="css: { 'glyphicon-ok': LastBuild.Status === 'SUCCESS', 'glyphicon-info-sign': LastBuild.Status === 'RUNNING', 'glyphicon-remove': LastBuild.Status === 'FAILURE' ||  LastBuild.Status === 'ERROR' ||  LastBuild.Status === 'RUNNING ERRORS' }"></span>&nbsp;

                                            <span data-bind="visible:LastBuild.Status === 'UNKNOWN'">No Builds</span>
                                            <span data-bind="visible:LastBuild.Status !== 'UNKNOWN',text:LastBuild.Status"></span>:

                                            <span data-bind="text:Name"></span>
                                        </p>

                                        <p data-bind="visible: LastBuild.Status !== 'RUNNING' && LastBuild.Status !== 'RUNNING ERRORS', text:LastBuild.StartDate"></p>

                                        <p data-bind="visible: LastBuild.Number, text: 'Build: ' + LastBuild.Number"></p>

                                        <p data-bind="visible: LastBuild.Status === 'RUNNING' || LastBuild.Status === 'RUNNING ERRORS' , text:LastBuild.StatusText"></p>

                                        <div data-bind="visible: LastBuild.Status === 'RUNNING' || LastBuild.Status === 'RUNNING ERRORS' " class="progress progress-striped active" style="height: 10px;">
                                            <div class="progress-bar" role="progressbar" data-bind="attr: { 'aria-valuenow': LastBuild.PercentageComplete, 'style': 'width:' + LastBuild.PercentageComplete + '%' }" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
